.wrap_select{
  padding: 10px 0 40px 0;
  border-bottom: 2px solid #ccc;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
    @media (min-width: 1024px) {
    border: none;
  }

  select{
    margin: 0 auto;
    display: block;
    padding: 7px 10px;
    border: 1px solid #ccc;
    color: #7f7c7c;
  }
}
.loader{
  width: 300px;
  display: block;
  margin: 0 auto;
}
